app:
  name: proxmox-csi
  project: infra
  source:
    repoURL: git@github.com:sergelogvinov/proxmox-csi-plugin.git 
    targetRevision: v0.15.1
    path: charts/proxmox-csi-plugin
  destination:
    server: https://kubernetes.default.svc
    namespace: csi-proxmox
  helm:
    values: |
      existingConfigSecret: proxmox-csi-plugin
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          effect: NoSchedule
      storageClass:
        - name: proxmox-local-xfs
          storage: local-lvm
          reclaimPolicy: Delete
          fstype: xfs
          ssd: true
          mountOptions:
            - noatime
