app:
  name: infisical-pg
  project: infra
  source:
    repoURL: git@github.com:cloudnative-pg/charts.git
    targetRevision: cluster-v0.3.1
    path: charts/cluster
  destination:
    server: https://kubernetes.default.svc
    namespace: infisical
  helm:
    values: |
      cluster:
        instances: 1
        initdb:
          database: infisical
          owner: infisical
        storage:
          size: 16Gi
          storageClass: block
        walStorage:
          size: 2Gi
          storageClass: block
        resources:
          limits:
            memory: 4Gi
          requests:
            cpu: '300m'
            memory: 4Gi
        logLevel: warning
        roles:
          - name: infisical
            ensure: present
            login: true
            superuser: false
        postgresql:
          pg_hba:
            - host all all 10.0.0.0/8 md5
