app:
  name: proxmox-cloud-controller-manager
  project: infra
  source:
    repoURL: git@github.com:sergelogvinov/proxmox-cloud-controller-manager.git
    targetRevision: v0.11.0
    path: charts/proxmox-cloud-controller-manager
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  helm:
    values: |
      existingConfigSecret: proxmox-cloud-controller-manager
      enabledControllers:
        - cloud-node
        - cloud-node-lifecycle
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          effect: NoSchedule
      extraVolumes:
        - name: credentials-homelab
          secret:
            secretName: proxmox-ccm-credentials
      extraVolumeMounts:
        - name: credentials-homelab
          readOnly: true
          mountPath: "/run/secrets/homelab"
