app:
  name: immich-library
  project: immich
  source:
    repoURL: git@github.com:pale-whale/infra.git
    targetRevision: HEAD
    path: k8s/charts/anything
  destination:
    server: https://kubernetes.default.svc
    namespace: immich
  helm:
    values: |
      pvc:
        apiVersion: v1
        kind: PersistentVolumeClaim
        metadata:
          name: immich-library
        spec:
          storageClassName: ceph-block
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 500Gi
