app:
  name: immich-library
  project: media
  source:
    repoURL: git@github.com:palewhale/anything.git
    targetRevision: HEAD
    path: k8s/charts/anything
  destination:
    server: https://kubernetes.default.svc
    namespace: immich
  helm:
    values: |
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: immich-library
      spec:
        storageClassName: ceph-block
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 500Gi
