app:
  name: immich
  project: immich
  source:
    repoURL: git@github.com:immich-app/immich-charts.git
    targetRevision: immich-0.10.3
    path: charts/immich
  destination:
    server: https://kubernetes.default.svc
    namespace: immich
  helm:
    values: |
      immich:
        persistence:
          library:
            existingClaim: "immich-library"
      controllers:
        main:
          containers:
            main:
              image:
                tag: v2.0.0
              env:
                DB_HOSTNAME:
                  valueFrom:
                    secretKeyRef:
                      name: immich-pg-cluster-app
                      key: host
                DB_USERNAME:
                  valueFrom:
                    secretKeyRef:
                      name: immich-pg-cluster-app
                      key: username
                DB_PASSWORD:
                  valueFrom:
                    secretKeyRef:
                      name: immich-pg-cluster-app
                      key: password
                DB_DATABASE_NAME:
                  valueFrom:
                    secretKeyRef:
                      name: immich-pg-cluster-app
                      key: dbname
      valkey:
        enabled: true
        persistence:
          data:
            enabled: true
            size: 5Gi
            type: persistentVolumeClaim
            accessMode: ReadWriteOnce
            storageClass: ceph-block
      server:
        ingress:
          main:
            enabled: true
            hosts:
              - host: immich.palewhale.fr
                paths:
                  - path: "/"
                    service:
                      identifier: main
      machine-learning:
        enabled: true
        controllers:
          main:
            affinity:
              nodeAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  nodeSelectorTerms:
                  - matchExpressions:
                    - key: node-role.kubernetes.io/video
                      operator: Exists
            containers:
              main:
                securityContext:
                  capabilities:
                    add:
                    - SYS_ADMIN
        persistence:
          video:
            enabled: true
            type: hostPath
            hostPath: /dev/dri
          cache:
            enabled: true
            size: 10Gi
            type: persistentVolumeClaim
            accessMode: ReadWriteMany
            storageClass: ceph-filesystem
