app:
  name: immich-pg
  project: immich
  source:
    repoURL: git@github.com:cloudnative-pg/charts.git
    targetRevision: cluster-v0.3.1
    path: charts/cluster
  destination:
    server: https://kubernetes.default.svc
    namespace: immich
  helm:
    values: |
      cluster:
        instances: 1
        imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17.7
        initdb:
          database: immich
          owner: immich
          postInitApplicationSQL:
            - CREATE EXTENSION vchord CASCADE;
            - CREATE EXTENSION earthdistance CASCADE;
        storage:
          size: 16Gi
          storageClass: ceph-block
        walStorage:
          enabled: true
          size: 2Gi
          storageClass: ceph-block
        resources:
          limits:
            memory: 4Gi
          requests:
            cpu: '300m'
            memory: 1Gi
        logLevel: warning
        roles:
          - name: infisical
            ensure: present
            login: true
            superuser: false
        postgresql:
          shared_preload_libraries:
            - "vchord.so"
          pg_hba:
            - host all all 10.0.0.0/8 md5
