app:
  name: media-stack
  project: media
  source:
    repoURL: git@github.com:pale-whale/infra
    targetRevision: HEAD
    path: k8s/charts/media-stack
  destination:
    server: https://kubernetes.default.svc
    namespace: media
  helm:
    values: |
      global:
        ingress:
          enabled: true
          annotations:
            traefik.ingress.kubernetes.io/router.middlewares: traefik-traefik-forward-auth@kubernetescrd
            traefik.ingress.kubernetes.io/router.tls: 'true'
          className: traefik
          backends:
            transmission:
              enabled: true
              host: transmission.palewhale.fr
            prowlarr:
              enabled: true
              host: prowlarr.palewhale.fr
            radarr:
              enabled: true
              host: radarr.palewhale.fr
            sonarr:
              enabled: true
              host: sonarr.palewhale.fr
      mediaPVC:
        storageClassName: ceph-filesystem
        size: 2000Gi
      transcodePVC:
        storageClassName: ceph-block
        size: 100Gi
      jellyfin:
        enabled: true
        securityContext:
          privileged: true
          capabilities:
            add:
              - SYS_ADMIN
        ingress:
          enabled: true
          hosts:
            - host: jellyfin.palewhale.fr
              paths:
                - path: /
                  pathType: ImplementationSpecific
        volumes:
          - name: dev-dri
            hostPath:
              path: "/dev/dri"
              type: Directory
          - name: transcode
            persistentVolumeClaim:
                  claimName: transcode
        volumeMounts:
        - name: dev-dri
          mountPath: "/dev/dri"
        - mountPath: /transcode
          name: transcode
      jellyseer:
        ingress:
          enabled: true
          hosts:
            - host: seer.palewhale.fr
              paths:
                - path: /
                  pathType: ImplementationSpecific
        config:
          persistence:
            storageClass: ceph-block
            accessModes:
              - ReadWriteOnce
            size: 20Gi
      transmission:
        image:
          tag: 5.3.1
        user:
          uid: 1000
          gid: 1000
        extraEnv:
        - name: TRANSMISSION_INCOMPLETE_DIR
          value: '/downloads/incomplete'
        resources:
          requests:
            cpu: 200m
            memory: 500Mi
          limits:
            memory: 1Gi
            squat.ai/tun: "1"
        provider:
          name: PIA
          localNetwork: '10.0.0.0/8,172.16.0.0/16'
          create_tun_device: 'false'
          endpoint: france
          user:
            externalSecret:
              secretStoreRef:
                kind: ClusterSecretStore
                name: infisical
              secret:
                userKey: /transmission-vpn/username
                passKey: /transmission-vpn/password
        rpc:
          enabled: true
          auth_required: true
          user:
            externalSecret:
              secretStoreRef:
                kind: ClusterSecretStore
                name: infisical
              secret:
                userKey: /transmission-rpc/username
                passKey: /transmission-rpc/password

        persistence:
          config:
            enabled: true
            storageClassName: ceph-block
            size: 500Mi
          downloads:
            enabled: true
            storageClassName: ceph-filesystem
            accessModes:
              - ReadWriteMany
            size: 1500Gi
      prowlarr:
        persistence:
          enabled: true
          storageClassName: ceph-block
          accessModes:
            - ReadWriteOnce
      radarr:
        persistence:
          enabled: true
          storageClassName: ceph-block
          accessModes:
            - ReadWriteOnce
      sonarr:
        persistence:
          enabled: true
          storageClassName: ceph-block
          accessModes:
            - ReadWriteOnce
      ygege:
        enabled: true
        persistence:
          enabled: true
          storageClassName: ceph-block
          accessModes:
            - ReadWriteOnce

