app:
  name: nextcloud
  project: media
  source:
    repoURL: git@github.com:nextcloud/helm.git
    targetRevision: nextcloud-8.6.0
    path: charts/nextcloud
  destination:
    server: https://kubernetes.default.svc
    namespace: media
  helm:
    values: |
      ingress:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.tls: 'true'
      phpClientHttpsFix:
        enabled: true
      postgresql:
        enabled: false
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - amd64
      internalDatabase:
        enabled: false
      externalDatabase:
        enabled: true
        type: postgresql
        existingSecret:
          enabled: true
          secretName: nextcloud-pg-cluster-app
          usernameKey: username
          passwordKey: password
          hostKey: host
          databaseKey: dbname
      cronjob:
        enabled: true
        type: cronjob
        cronjob:
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - nextcloud
                      - key: app.kubernetes.io/component
                        operator: In
                        values:
                          - app
                  topologyKey: kubernetes.io/hostname
      nextcloud:
        host: nextcloud.palewhale.fr
        defaultConfigs:
          imaginary.config.php: true
        podSecurityContext:
          runAsUser: 1000
          runAsGroup: 1000
          fsGroup: 33
        existingSecret:
          enabled: true
          secretName: nextcloud-creds
          usernameKey: username
          passwordKey: password
        extraVolumeMounts:
          - name: media
            mountPath: "/data"
        extraVolumes:
          - name: media
            persistentVolumeClaim:
              claimName: "media"
      persistence:
        enabled: true
        storageClass: ceph-block
        size: 8Gi
        nextcloudData:
          enabled: true
          storageClass: ceph-block
          size: 128Gi
      metrics:
        enabled: true
      imaginary:
        enabled: true
      startupProbe:
        enabled: true
        failureThreshold: 90
