{{- if .Values.ygege.enabled }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "ygege.fullname" . | printf "config-%s" }}
spec:
  secretStoreRef: {{- .Values.ygege.account.secretStoreRef | toYaml | nindent 4 }}
  target:
    name: {{ include "ygege.fullname" . | printf "config-%s" }}
    template:
      engineVersion: v2
      data:
        config.json: |
          {
          "username": "{{ `{{ .user }}` }}",
          "password": "{{ `{{ .password }}` }}",
          "bind_ip": "0.0.0.0",
          "bind_port": 8715,
          "log_level": "error"
          }

  data:
  - secretKey: user
    remoteRef:
      key: {{ .Values.ygege.account.userPath }}
  - secretKey: password
    remoteRef:
      key: {{ .Values.ygege.account.passwordPath }}
{{- end }}
